.wrapper {
  border-radius: 0.5em;
  display: flex;
  background: #f0efee;
  height: 56px;
  align-items: center;
  position: relative;
}

.wrapper.hasLocked {
  border-radius: 0.5em 0 0 0.5em;
  width: calc(100% - 28px);
}

.icon {
  margin: 0 12px;
  display: flex;
}

.balanceInUsd {
  font-size: 0.875em;
  color: #5d6d74;
}


.percentLockedText {
  color: #5D6D74;
  font-size: 12px;
}